@charset "UTF-8";

/* para todos */
/* typical device breakpoints
________________________________
pequenas telas: ate 600px
celular: de 600px ate 768
tablet: 768px ate 992px
desktop: 992px ate 1200px
grandes telas: acima de 1200px
________________________________*/

@media print {
    /* impressora*/
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../back-print.jpg); /* desnecessario porque nao imprime o back ground*/
    }
    main{
        border: 2px solid black;
        width: 90%;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    main::after{
        content: 'essa impressao foi feita atraves do site www.cursoemvideo.com';
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#impressora{display: block;}
    img#pc{display: none;}
    img#tv{display: none;} 
}

@media screen and (min-width:768px) and (max-width: 992px) {

    /* tablet*/
    body {
        background-image: url(../back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#impressora {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width: 1200px) {

    /*desktop*/
    body {
        background-image: url(../back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#impressora {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

@media screen and (min-width:1200px) {

    /*telas grandes*/
    body {
        background-image: url(../back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#impressora {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}