@charset "UTF-8";
@media screen and (min-width:768px){
    /*hambuguer*/
    #burguer{
        display:none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    /*Stilos*/
    .span-header{
        font-size: 50px;
    }
    nav{
        height: 6rem;
    }
    .dofus{
        font-size: 30px;
    }
    ::-webkit-scrollbar{
        width: 0px;
    }
    #cabecalho-principal{
        background-image: url(godiop.jpg);
        
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        
        width: 100vw;
        height: 70vh;
    }
   
}
