@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(in oklab, #f37836, #F6AE2D, #33658A);
    background-attachment: fixed;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 5px 5px 15px #000000;
    width: 700px;
    padding: 20px;
    margin: auto;
}

h1 {
    color: #F6AE2D;
    text-shadow: 1px 1px 2px #F6AE2D;
    text-decoration: underline;
}

h2 {
    color: #23475e;
    text-decoration: underline;
}

p {
    text-align: justify;
}