@charset "UTF-8";

/*Para impressora */




html{

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}
p{
    padding: 10px;
}
ul{
    padding: 1rem;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

article{
    width: 100%;
}

article::after{
    content: 'Foi produzido por luiz felipe';
}