@charset "UTF-8";


@media screen and (min-width: 768px)and (max-width:992px){
    body{
        background-image: linear-gradient(to top,#F27405, #f29f05);
    }
    section#login{
        width: 90vw;
        
    }
    section#login >div#imagem{
        float: left;
        width: 40%;
        height: 100%;
        border-radius: 15px 0px 0px 15px;
    }
    section#login >div#formulario{
        padding: 10px;
        float: right;
        height: 70%;
        width: 60%;
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;

    }
    #entrar:hover{
        background-color: #F27405;
        border: none;
    }
    #entrar {
    
        width:150px;
        height:40px;
        cursor:pointer;
    }
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom,#F27405, #f29f05);
    }
    section#login{
        width: 950px;
    }
    section#login >div#imagem{
        float: right;
        width: 40%;
        height: 100%;
        border-radius: 0px 15px 15px 0px;
    }
    section#login >div#formulario{
        padding: 10px;
        float: left;
        height: 70%;
        gap: 20px;
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #entrar:hover{
        background-color: #F27405;
        border: none;
    }
    #entrar {
    
        width:170px;
        height:40px;
        cursor:pointer;
    }
}